
 @media (max-width:922px){

  #navbar .logo img {
    width: 258px;
    height: 111px;
    margin-left: 20px;
    background-color: black;
  }

}
 




















/* Utiylity class */
.py-80{ padding: 30px;}
.py-50{ padding: 20px;}
.py-30{ padding: 10px;}

.box{
    float: none;
    width: 100%;
}

.container {
    max-width: 1300px;
    overflow: auto;
    padding: 0;
  }

  .container3 {
    margin-left: -300px;
  }

/* navbar */
.fab{ 
    margin-top: 16px;
    text-align: center;
    margin-right: -5px;
}
#navbar{
    font-size: 11px;
    text-align: center;
}

#navbar .logo{

    float: none;
    padding-bottom: 10px;
}

#navbar ul{
    margin-bottom: -10px;
    margin-top: -40px;
    margin-right: -20px;
  
}
  
#navbar ul li a{
 padding: 15px;

}

/* showcase */

#showcase{
    background: url('../img/dos\ respn.jpg');
    width: 99.3%;
    background-repeat: no-repeat;
   margin-top: 10px;
    padding: 0px;
    height: 100%;
    text-align: center;
    font-size: 10px;

}
#showcase h1 {
  font-size: 40px;
}

  /* reservation */

  #reservation{
      text-align: center;
}

#reservation h2 {
    float: none;
    margin: 10px;

}

#reservation a {
    float: none;
    margin: 10px;
}

/* about */
#about{
    text-align: center;
}

#about .about-content {
    float: none;
    width: 100%;
    padding: 10px;
}
#about .about-img{
    float: none;
    width: 100%;
}
#testimonial {
    height: 550px;
}

@media (max-width:991px) {
    html {
         font-size:
    }
}

@media (max-width:768px) {
    .products-preview .preview img {
        height: 10rem;
      }

      .products-preview .preview {
        display: none;
        padding: 0.8rem;
        margin: 1rem 1rem;
        
      }
      .container2 .products-container .product img {
        height: 9rem;
      }
      .container2 {
        margin-left: -13px;
        padding: 2rem 2rem;
      }

      .formulario{
        grid-template-columns: 1fr;
      }
      .formulario__mensaje {
        width: 270px;
        
      }
      .formulario__mensaje p{
        font-size: 9px;
        
      }

      .formulario__grupo-terminos,
      .formulario__mensaje,
      .formulario__grupo-btn-enviar {
        grid-column: 1;
      }

      .formulario__btn {
        width: 75%;
      }

      .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 50px;
    }
    .pie-pagina .grupo-1 .box1 figure img{
      width: 300px;
      margin-left: -40px;
    }
    .pie-pagina .grupo-1 h2{
      margin-left: 63px;
    }
    
    .pie-pagina .grupo-1 h3{
      margin-left: 10px;
    }
    .pie-pagina .grupo-1 .red-social a i{
      font-size: 15px;
    
    }
    
}


@media (max-width:450px) {
    html {
         font-size: 
    }
}


#mainfooter {
    /* padding-bottom: 50px; */
    
}