@media (max-width:1025px) {
  #navbar ul {
    margin-right: 35px;
  }

  .info-container{
    width: 100%;
    margin-top: 40px;
    margin-left: 10px;
  
  }

  .info-container .box-container .box {
    width: 300px;
    height: 250px;
    margin: 10px;

  }

  .info-container .box-container .box p {
    font-size: 18px;
  }
  
 
    
}



@media (max-width:952px) {

  #navbar .logo img {
    margin-top: 17px;
    margin-left: 35px;
    width: 243px;
    height: 93px;
  }

  .enlace {
    padding-left: 20px;
  }

  #navbar ul li a {
    font-size: 14px
  }

  .pie-pagina .grupo-1 h3 {
    margin-left: 7px;
  }

}

@media (max-width:858px) {

   #navbar .logo {
    margin-top: 17px;
    margin-left: 55px;
    width: 210px;
    height: 93px;
  } 

  
  #navbar .logo:hover {
    width: 213px;
    height: 100px;
  
  }

  #navbar ul {
    float: right;
    margin-right: 10px;

  }

  #reservation h2{
   margin-left: 35px;
  }

  #reservation a{
    margin-right: 35px;
   }

   #features{
    float: none;
  }


  .about-content{
    width: 100% !important;
    margin-bottom: 35px;
  }

  .about-content h1{
    text-align: center;
  }

  #about .about-img {
    float: none;
    width: 94%;
  }
  
  #about .about-img img {
    margin-left: 20px;
    height: 350px;
  }

  #about .about-img img{
    text-align: center !important;
  }

  .faq .accordion-container .accordion .accordion-heading{
    margin: 0px 45px;
  }


  .pie-pagina .grupo-1 .box1 figure img {
    width: 231px;
  }

  .pie-pagina .grupo-1 h2 {
    margin-left: 146px !important;
  }
  .pie-pagina .grupo-1 h3 {
    margin-left: 146px !important;
  }

  .pie-pagina .grupo-1 p {
    margin-left: 45px !important;
  }


  .pie-pagina .grupo-1 .red-social {
    margin-left: 140px !important;
  }

  .pie-pagina .grupo-1 .red-social a i {
    font-size: 14px;
  }

  .pie-pagina .grupo-1 .red-social a {
    font-size: 32px;
  }

  .pie-pagina .grupo-1 {
    grid-gap: 20px;
  }


}

@media (max-width:762px) {
  .checkbtn {
    display: block;
  }

  #navbar .logo {
    margin-top: 17px;
    margin-left: 55px;
    width: 210px;
    height: 93px;
  } 

  
  #navbar .logo:hover {
    width: 260px;
    height: 123px;
  
  }


  #navbar ul {
    position: fixed;
    width: 100%;
    height: 358px;
    background: #fda94f;
    top: 145px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    
  }

  #navbar ul li {
    display: block;
    margin: 48px 0;
    padding: 5px;
    line-height: 4px;
    border-bottom: 3px solid; 
    text-align: center;
    height: 40px;
    margin-top: 40px;
    
  }

  #navbar ul li a {
    font-size: 20px !important;
  
  }

  li a:hover,
  li a.active {
    background: none;
    color: red;
  }

  #check:checked~ul {
    left: 0;
  }

  #showcase h1 {
    font-size: 2.3rem;
    padding-top: 0;
  }

  .container3 h1 {
    
    padding-top: 20px;
    margin-left: 250px;
  }


}

 


@media (max-width:768px) {
  .products-preview .preview img {
    height: 10rem;
  }

  .products-preview .preview {
    display: none;
    padding: 0.8rem;
    margin: 1rem 1rem;

  }

  .container2 .products-container .product img {
    height: 9rem;
  }

  .container2 {
    margin-left: -13px;
    padding: 2rem 2rem;
  }

  .formulario {
    grid-template-columns: 1fr;
  }

  .formulario__mensaje {
    width: 270px;

  }

  .formulario__mensaje p {
    font-size: 9px;

  }

  .formulario__grupo-terminos,
  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
    grid-column: 1;
  }

  .formulario__btn {
    width: 75%;
  }

  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 50px;
  }

  .pie-pagina .grupo-1 .box1 figure img {
    width: 300px;
    margin-left: -40px;
  }

  .pie-pagina .grupo-1 h2 {
    margin-left: 63px;
  }

  .pie-pagina .grupo-1 h3 {
    margin-left: 10px;
  }

  .pie-pagina .grupo-1 .red-social a i {
    font-size: 15px;

  }

}

@media (max-width:689px) {


  #navbar .logo img {
    margin-top: 17px;
    margin-left: 16px;
    width: 210px;
    height: 90px;
  }

  #navbar ul {
    font-size: 18px;
    padding: 9px;
    padding-left: 5px;
  }

  #navbar ul li a {
    margin-top: 29px;
    font-size: 12px;
  }

  .fa,
  .fa-brands,
  .fa-duotone,
  .fa-light,
  .fa-regular,
  .fa-solid,
  .fa-thin,
  .fab,
  .fad,
  .fal,
  .far,
  .fas,
  .fat {
    line-height: 4;
  }

  .container3 h1 {
    
    margin-left: 110px;
  }

  .map{
    margin-left: 25px;
    margin-right: 50px;
    width: 620px;
  }



 .info-container .box-container .box {
  width: 200px;
  height: 250px;

 }

 .info-container .box-container .box h3 {
  font-size: 20px;
  margin-top: 10px;
 }

 .info-container .box-container .box p {
  font-size: 13px;
  margin-left: -16px;
 }

 #mapa{
  height: 590px;
}

.map{
  margin-left: 5px ;
  margin-right: 5px ;
  width: 460px ;
  height: 550px ;
}

.cuadro{

margin-left: 15px;
  
}

.bars-lateral .refe img{

  width: 70px;
  height: 60px;

}

.bars-lateral .refe p{

  font-size: 15px;
}

.bars-lateral .refe .par1{
  font-size: 15px;
}

#mapa .bars-lateral{
  float: left;
  margin-top: 20px;
  margin-left: 0px;
  background-color: #fff;
  width: 300px;
  height: 550px;;
}




}



@media (max-width:440px) {

  .fa-bars {
    margin-right: -30px;
  }

  #navbar .logo {
    margin-top: 6px;
    margin-left: 33px;
    width: 253px;
    height: 123px;
  }

  #navbar ul li a {
    padding-left: 22px;
    font-size: 11px;
  }

  #navbar ul a {
    margin-top: 50px;
    margin-left: -10px;
    font-size: 12px;
  }


  #showcase h1 {
    font-size: 20px;
    margin: 0 auto;
    padding-top: 100px;

  }

  /* Utiylity class */
  .py-80 {
    padding: 30px;

  }

  .py-50 {
    padding: 20px;
  }

  .py-30 {
    padding: -1px;
  }

  .box {
    float: none;
    width: 100%;
  }

  /* showcase */

  #showcase {
    padding-top: 120px;
    background: url('../img/dos\ respn.jpg');
    width: 99.3%;
    background-repeat: no-repeat;
    margin-top: 10px;
    padding: 0px;
    height: 100%;
    text-align: center;
    font-size: 10px;

  }

  #showcase h1 {
    margin-top: 50px;
    font-size: 30px;
  }

  /* reservation */

  #reservation {
    text-align: center;
  }

  #reservation h2 {
    float: none;
    margin: 10px;

  }

  #reservation a {
    float: none;
    margin: 10px;
  }

  /* about */
  #about {
    text-align: center;
  }

  #about .about-content {
    float: none;
    width: 100%;
    padding: 10px;
  }

  #about .about-img {
    float: none;
    width: 100%;
  }

  #about .about-img  {
    margin-left: -18px;
  }

  #about .about-img img {
    height: 260px;
  }

  #testimonial h2 {
    padding-bottom: 9px;
    margin-top: 5px;
    font-size: 25px;
  }

  .slide-container {
    width: 80%;
  }

  .slide-container2 {
    width: 100%;
  }

  #testimonial {
    display: flex;
    flex-direction: column;
  }

  #testimonial .card {
    flex-grow: 2;
    flex-basis: 100%;

  }

  #testimonial h2 {
    font-weight: lighter;
    padding-bottom: -40px !important;
    padding-top: 50px;
    margin-top: -40px !important;
    font-size: 25px;
  }
  

  .card {
    margin-top: 0px !important;
    height: 470px;
    width: 350px !important;
    padding-bottom: 80px;
    border-radius: 25px;
    background-color: #efefef;
  }

  .card-content {
    margin-top: 35px;

  }

  .card-content .name {
    padding-top: 30px !important;
    padding: 49px;
    font-size: 25px !important;
    font-weight: 500;
    color: #000;
  }

  .targ a {
    display: block;
    float: left;
    color: #000;
    font-size: 30px;
  }
  .targ a:hover{
    font-size: 32px;
    color: #fda94f;
}


  .card-content h2 {
    padding: 11px !important;
    font-size: 35px !important;
  }

  .card-content .description {
    margin-top: -5px;
  }

  .card-content .targ {
    margin-top: -20px;
  }

  .faq .heading{
    color: #000;
    font-size: 20px;
  }

  .faq .accordion-container .accordion .accordion-heading{
    margin: 0px 20px;
  }

  .faq .accordion-container .accordion .accordion-heading h3 {
    font-size: 10px;
    color: #fff;
  }

  .social-bar{
    display: none;
  }

  .info-container{
    width: 100%;
    margin-top: 40px;
    margin-left: 4px;

  }
  
  .info-container .box-container .box {
    width: 370px;
    height: 250px;
    margin: 10px;
  
  }

  .info-container .box-container .box p {
    font-size: 1.2rem;

  }

  .map{
    margin-left: 25px;
    margin-right: 50px;
    width: 360px;
  }

  #mapa{
    display: block;
    height: 1080px;

  }

  #mapa .bars-lateral{
  float: left;
  margin-top: 20px;
  margin-left: 0px;
  background-color: #fff;
  width: 389px;
  height: 615px;;
}

.bars-lateral h3{
  margin-top: 35px;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
  font-family: 'Baloo 2', cursive;
  border-bottom: 3px solid #fda94f;
}

.cuadro{

  margin-left: 20px;
  
}

.map{

  width: 386px;

  height: 410px;
  margin-right: 3px;

  
}



.pie-pagina .grupo-1 img {
    margin-left: 14px !important;
}


  .pie-pagina .grupo-1 .box1 figure img {
    width: 231px;
  }

  .pie-pagina .grupo-1 h2 {
    margin-left: 46px !important;
  }
  .pie-pagina .grupo-1 h3 {
    margin-left: 22px !important;
  }

  .pie-pagina .grupo-1 p {
    margin-left: 15px !important;
    font-size: 15px !important;
  }
  .pie-pagina .m {
    font-size: 35px !important;
  }


  .pie-pagina .grupo-1 .red-social {
    margin-left: 30px !important;
  }

  .pie-pagina .grupo-1 .red-social a i {
    font-size: 14px;
  }

  .pie-pagina .grupo-1 .red-social a {
    font-size: 32px;
  }

  .pie-pagina .grupo-1 {
    grid-gap: 20px;
  }
  

}


@media (max-width:394px) {

  .info-container .box-container .box {
    width: 350px;
  
  }
  .map{
    margin-left: 25px;
    margin-right: 10px;
    width: 360px;
  }

  #mapa .bars-lateral{

    margin-left: 10px;

    width: 360px;

  }

  .cuadro{

    margin-left: 20px;
    
    }
  
  
}


@media (max-width:376px) {

  .info-container .box-container .box {
    width: 330px;

  }

  .map{
    margin-left: 25px;
    margin-right: 6px;
    width: 340px;
  }
  #mapa .bars-lateral{
    float: left;
    margin-top: 20px;
    margin-left: 0px;
    background-color: #fff;
    width: 350px;
    height: 615px;;
  }

  .bars-lateral .refe p{

    font-size: 17px;
  }

  .bars-lateral .refe .par1{
    font-size: 17px;
  }
  
  
  
  
}

@media (max-width:361px) {

  .info-container .box-container .box {
    width: 325px;


  }
  .map{
    float: right;
    margin-right: 14px ;
    width: 326px ;

  }

  #mapa .bars-lateral{
    float: left;
    margin-left: 13px ; 
    width: 326px ;
    height: 615px;;
  }
  
  
  
}

